* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: url("/images/bg-lofi-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
.player-container {
    text-align: center;
    max-width: 370px;
    height: 300px;
    /* background: #ff5438; */
    background: transparent;
    margin: 8%;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px #000;
}
img {
    max-width: 20%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px #d8403b;
    margin-bottom: 2%;
    margin-top: 5%;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
h3 {
    font-size: 13px;
    /* margin-bottom: -20px; */
}

/* Progress */
.progress-container {
    background: rgb(222, 211, 211);
    border-radius: 5px;
    cursor: pointer;
    margin: 50px 20px 10px 20px;
    height: 4px;
    width: 90%;
    user-select: none;
}

.progress {
    background: #2456f2;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
    user-select: none;

}
.duration-wrapper {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #fff;
    user-select: none;

}

/* player controls */
.player-controls{
    text-align: center;
    user-select: none;
}

.fas {
    font-size: 23px;
    color: rgb(78, 72, 72);
    cursor: pointer;
    padding: 10px;

}

.fas:hover {
    color: rgb(222, 211, 211);
    /* color: #2456f2; */

}

.main-button {
    font-size: 30px;
    width: 40px;
}
